# IDE and OS specific
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env*.local

mode_modules
bun.lock

# Web frontend (Next.js)
/web/node_modules
/web/.next/
/web/out/
/web/build/
/web/dist/
/web/bun.lockb

# Server backend (Rust)
/server/target/
